body {
    font-family: Arial, sans-serif;
    background-color: #F3D5E8;
}
h1{
    color:#824431

}
 
.receta-container {
    max-width: 1000px;
    margin: auto;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
}

.receta-info {
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

.omelette-simple {
    border-radius: 10px; 
}

  